<div class="container">
	<div class="alert alert-danger" ng-show="errorMessage != ''">
		<a href="" class="close" data-hide="alert" ng-show="errorMessage != ''" ng-click="errorMessage=''" aria-label="close">&times;</a>
		<strong>{{errorMessage}}</strong>
	</div>
	<div class="panel panel-default" ng-if="showRegisterForm">
		<form name="auth.registerForm">
			<div class="panel-body">
				<div class="form-group">
					<input type="email" class="form-control" placeholder="Email Address" autofocus="autofocus" required ng-model="user.email">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" required ng-model="user.password">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password Again" required ng-model="user.password2">
				</div>
			</div>
			<div class="panel-footer">
				<button class="btn btn-lg btn-success btn-block" ng-class="{'disabled': auth.registerForm.$invalid}" ng-click="auth.register(user)">Register</button>
			</div>
		</form>
	</div>
	<div class="panel panel-default" ng-if="!showRegisterForm">
		<div class="panel-body">
			<form name="auth.loginForm">	
				<div class="form-group">
					<input type="email" class="form-control" placeholder="Email Address" autofocus="autofocus" required ng-model="auth.credentials.email">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password" required ng-model="auth.credentials.password">
				</div>
				<div class="panel-footer">
					<button class="btn btn-lg btn-success btn-block" ng-class="{'disabled': validPasswd()}" ng-click="auth.register(user)">Register</button>
				</div>
			</form>
		</div>
	</div>
	<div class="panel panel-default" ng-if="showRegisterForm">
		<div class="panel-body text-center">
			Have an account? <a href="" ng-click="switchForm()">Log in</a>
		</div>
	</div>
	<div class="panel panel-default" ng-if="!showRegisterForm">
		<div class="panel-body text-center">
			Dont have an account? <a href="" ng-click="switchForm()">Sign up</a>
		</div>
	</div>
</div>
